* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

.encabezado {
  background-color: rgba(50, 48, 48, 0.688);
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .encabezado {
    align-items: center;
    flex-direction: row;
  }
}
.encabezado-botonLogo {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .encabezado-botonLogo {
    display: flex;
    justify-content: flex-start;
  }
}
.encabezado-logo {
  width: 20%;
  border: none;
}
@media (min-width: 768px) {
  .encabezado-logo {
    width: 10%;
  }
}
.encabezado-botonera {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.encabezado-botones {
  text-decoration-line: overline;
  text-align: center;
  margin-bottom: 1px;
}
.encabezado-boton {
  text-decoration: none;
  color: black;
}

body {
  color: rgb(219, 213, 208);
}

.piePagina {
  color: rgba(63, 63, 63, 0.425);
  font-weight: initial;
  text-decoration-line: overline;
  text-align: center;
}
.piePagina-botonera {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  margin-bottom: 10px;
}

.pagina-eventos {
  display: flex;
  flex-direction: column;
}
.pagina-eventos-img {
  width: 80%;
  margin: 50px auto;
}
.pagina-eventos-img img {
  width: 100%;
}

.imagenes-galeria {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: center;
}
.imagenes-galeria-actual {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 786px) {
  .imagenes-galeria {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 10px;
}

form div {
  margin: 20px;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  color: rgb(0, 0, 0);
}

h2 {
  background-color: rgba(43, 35, 35, 0.514);
  text-align: center;
  padding: 5px;
  margin-top: 80px;
  margin-bottom: 10px;
}

h3 {
  background-color: rgb(62, 62, 62);
  font-weight: bolder;
  color: rgb(255, 255, 255);
  width: fit-content;
  height: fit-content;
  right: 200px;
  padding: 5px;
  margin: 5px;
}

p, article {
  margin-right: 20px;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  min-height: 50px;
  max-width: 100%;
  max-height: 100%;
}

.imagendeportada {
  width: 100%;
  border: none;
  margin-top: 0px;
}

.portada-titular {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portada-logoGrande {
  width: 20%;
  border: none;
}
@media (min-width: 768px) {
  .portada-logoGrande {
    width: 40%;
  }
}

.historia {
  background-color: rgb(107, 107, 107);
}
.historia-subtitulo {
  display: flex;
  align-items: end;
}
.historia-seccion {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
@media (min-width: 768px) {
  .historia-seccion {
    flex-direction: row;
  }
}
.historia-articulo {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.historia-info {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: lighter;
  text-align: justify;
}

.galeria-titular {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.galeria-seccion {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 768px) {
  .galeria-seccion {
    flex-direction: row;
    justify-content: center;
  }
}

.eventos-titulo-principal {
  text-align: center;
}
.eventos-contenedor {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
}
@media (min-width: 768px) {
  .eventos-contenedor {
    flex-direction: row;
    margin: 0px 100px;
  }
}
.eventos-img {
  width: 80%;
  margin: 50px auto;
}
.eventos-img img {
  width: 100%;
}

.botonvermas {
  text-decoration: none;
  font-size: 10px;
  color: rgb(0, 0, 0);
  margin-top: 10px;
}
@media (min-width: 768px) {
  .botonvermas {
    font-size: 15px;
  }
}

/*# sourceMappingURL=estilos.css.map */
