.pagina-eventos
{
    display: flex;
    flex-direction: column;
    
       &-img 
       {
        width: 80%;
        margin: 50px auto;

         img 
         {
            width: 100%;
         }
       }
}