.imagenes-galeria
{
   display: grid;
   grid-template-columns: auto auto;
   grid-template-rows: auto auto;
   justify-content: center;

   &-actual
   {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
   }
}



@media (min-width:786px)
{
   .imagenes-galeria
   {
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
}